body {
    background: rgb(24, 30, 52);
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: white
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/*===========================================*/
.header {
    padding: 30px 0 36px;
}

.header-inner {
    display: flex;
    align-items: center;

}

.header-nav {
    margin-left: auto;

}

.header-list {
    display: flex;

}

.header-item {
    margin-right: 30px;
}

.header-button {
    border-radius: 100px;
    /* Белый */
    background: rgb(255, 255, 255);
    color: rgb(39, 102, 174);
    padding: 14px 30px;
    font-weight: 500;
}

/*====================Парагрофы===========*/

.hero {
    background: url("../img/front.jpeg") 10% 50%/cover no-repeat;
    padding: 120px 0;
}

.hero-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 52px;

}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    max-width: 436px;

}

.hero-text span {
    max-width: 436px;
    color: rgb(1, 162, 203);
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;

}

.prg {
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    flex-direction: column;
    border-radius: 100px;
    width: 100%;
    max-width: 320px;
    text-align: center;
}

.hero-buttonone,
.hero-buttontwo {
    border-radius: 100px;
    padding: 18px 30px;
    display: flex;
    justify-content: center;

}

.hero-buttonone img,
.hero-buttontwo img {
    margin-left: 4px;
}

.hero-buttonone {
    background: linear-gradient(180.00deg, rgb(0, 164, 204), rgb(39, 102, 174) 100%);

}

.hero-buttontwo {
    background: linear-gradient(129.14deg, rgb(0, 164, 204) 5.925%, rgb(39, 102, 174) 91.531%);
}

.bottom {
    margin-bottom: 10px;
}

/*===========================================*/
.cards {
    padding: 120px 0;
}

.cards-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.cards-text {
    text-align: center;
    margin: 0 auto 60px;
    max-width: 513px;
}

.cards-flex {
    display: flex;
    margin: 0 -14px;
    flex-wrap: wrap;
    margin-bottom: -28px ;
    padding-bottom: 30px;
    
}

.cards-flex-item {
    margin-bottom: 28px;
    padding: 0 14px;
    
    flex: 0 0  25%;
}
.cards-flex-inner{
    box-sizing: border-box;
    border: 2px solid rgb(23, 107, 174);
    border-radius: 16px;
    
    box-shadow: 4px 4px 13px 0px rgba(5, 13, 41, 0.76);
    background: rgb(25, 124, 184);
    padding: 28px 15px;

}

.cards-flex-title{
    font-size: 22px;
font-weight: 600;
line-height: 27px;
text-align: center;
text-transform: uppercase;
margin-bottom: 10px;
}
.cards-flex-text{

text-align: center;

}

.cards-buttonone{
    display: block;
    border-radius: 100px;
    padding: 18px 30px;
    display: flex;
    justify-content: center;
    background: linear-gradient(180.00deg, rgb(0, 164, 204), rgb(39, 102, 174) 100%);
    text-align: center;
    max-width: 436px;
    margin: 0 auto;
}

/*============================footer=================*/

.footer{
    border-top: 2px solid rgb(50, 57, 82);
    padding: 60px 0;

}
.footer-inner{
    display: flex;

}

.footer-desc{
    max-width: 267px;
    margin-right: auto;
}

.footer-desc a{
    margin-bottom: 15px;
    display: inline-block;

}

.footer-title{
font-size: 22px;
font-weight: 600;
line-height: 27px;
text-transform: uppercase;
margin-bottom: 20px;
}

.footer-item{
    margin-bottom: 10px;

}
.footer-col{
    max-width: 204px;
    width: 100%;
}
.footer-col-margin{
    margin-right: 28px;
}